@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(font/MaterialIcons-Regular.woff2) format('woff2'), url(font/MaterialIcons-Regular.woff) format('woff'), url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#overCanvas {
  overflow: hidden;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.paintedDay {
  background: rgba(101,101,101,0.2);
  width: 35px;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: dayFlowsIn 1s;
}

@keyframes dayFlowsIn {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #063e6d;
}

#buttons {
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  filter: brightness(1.5);
}

.button:active {
  filter: brightness(0.7);
}

#btnNewRecord {
  font-size: 100px;
  color: #dc143c;
}

#btnMoreOptions {
  font-size: 60px;
  color: #3e5c61;
}

.overlay {
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #123456;
  justify-content: flex-start;
  align-items: center;
}

input[type="text"] {
  font-size: 1.4em;
  width: 100%;
  text-align: center;
}

input[type="time"] {
  font-size: 1em;
  width: auto;
}
